.idea
.vscode
data

node_modules
dist

NestJs
NestJs_API/dist
NestJs_API/node_modules
NestJs_API/.idea
NestJs_API/.vscode

Python_API/node_modules
Python_API/.idea
Python_API/.vscode
Python_API/.coverage
Python_API/src/node_modules
Python_API/RecordLinkage_API/.idea
Python_API/RecordLinkage_API/.vscode
Python_API/RecordLinkage_API/node_modules
Python_API/RecordLinkage_API/src/node_modules
Python_API/RecordLinkage_API/src/main/node_modules
Python_API/RecordLinkage_API/src/main/__pycache__

vue_ui/node_modules
vue_ui/.vscode
vue_ui/.idea
