.idea
.vscode
data

node_modules
dist

NestJs
NestJs_API/dist
NestJs_API/node_modules
NestJs_API/.idea
NestJs_API/.vscode

RecordLinkage_API/.idea
RecordLinkage_API/.vscode
RecordLinkage_API/node_modules
RecordLinkage_API/src/node_modules
RecordLinkage_API/src/main/node_modules
RecordLinkage_API/src/main/__pycache__

vue_ui/node_modules
vue_ui/.vscode
vue_ui/.idea

*.pyc
*.pkl
